<div class="container my-2 py-4 z-depth-1">
    <section class="text-center px-md-2 mx-md-2 dark-grey-text">
        Mentions légales - © 2020 Copyright: localuxhubert.com
    </section>
</div>
</body>

</html>